*.numbers
*.txt
*.swp
summary/summary.aux

4flav_1224
4flav_1632
4flav_2448
8flav_1224
8flav_2448
12flav_1224
12flav_1212
12flav_2424
12flav_2448

wilson_flow_plots
Plots_4flav
Plots_8flav
Plots_12flav
Plots_oldaction12flav
Plots_12flav2
Plots_12flav3
