*.numbers
*.txt
*.swp
*.out
*.log
*.aux
*.pdf

summary/summary.aux

4flav_1224
4flav_1632
4flav_2448
8flav_1224
8flav_2448
12flav_1224
12flav_1212
12flav_2424
12flav_2448

wilson_flow_plots
Plots_4flav
Plots_8flav
Plots_8flav2
Plots_12flav
Plots_oldaction12flav
Plots_12flav2
Plots_12flav3
Plots_12flav4
Plots_12flav5
Plots_12flav6
Plots_12flav7
Plots_12_WMCRG2
Plots_12_WMCRG7
